
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 115.2rem;
}.headings-5jr {
  box-sizing: border-box;
  padding: 4.8rem 0rem 5.1rem 0rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.headings-5jr .typography-ofr {
  margin: 0rem 0rem 7rem 4.8rem;
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 1.0999999728;
  color: #2c2c2c;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.headings-5jr .space-grotesk-uit {
  margin: 0rem 0rem 7.9rem 4.8rem;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.2775;
  color: #2c2c2c;
  font-family: Space Grotesk, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.headings-5jr .auto-group-du8k-2oW {
  margin: 0rem 37.5rem 4.1rem 29.7rem;
  width: calc(100% - 67.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.headings-5jr .auto-group-du8k-2oW .name-xSG {
  margin-right: 30.2rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.0999999841;
  color: #828282;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.headings-5jr .auto-group-du8k-2oW .font-size-h8x {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.0999999841;
  color: #828282;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.headings-5jr .auto-group-aaxn-dYQ {
  margin-bottom: 1.32rem;
  height: 34.75rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.headings-5jr .auto-group-aaxn-dYQ .pattern-Nkt {
  margin: 0rem 3.3rem 3.95rem 0rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.headings-5jr .auto-group-aaxn-dYQ .pattern-Nkt .a-7iU {
  margin: 0rem 1.1rem 0.1rem 0rem;
  font-size: 23.2rem;
  font-weight: 700;
  line-height: 1.2775;
  color: #141647;
  font-family: Space Grotesk, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.headings-5jr .auto-group-aaxn-dYQ .pattern-Nkt .a-3c8 {
  font-size: 24.1rem;
  font-weight: 400;
  line-height: 1.2775;
  color: #141647;
  font-family: Space Grotesk, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.headings-5jr .auto-group-aaxn-dYQ .auto-group-v12c-znG {
  margin: 0.3rem 10.3rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.headings-5jr .auto-group-aaxn-dYQ .auto-group-v12c-znG .heading-1-jE4 {
  margin-bottom: 2.6rem;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.1724137931;
  color: #000000;
  font-family: Space Grotesk, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.headings-5jr .auto-group-aaxn-dYQ .auto-group-v12c-znG .heading-Tvk {
  margin-bottom: 4.05rem;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.2272727273;
  color: #000000;
  font-family: Space Grotesk, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.headings-5jr .auto-group-aaxn-dYQ .auto-group-v12c-znG .heading-3-bGG {
  margin-bottom: 2.85rem;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.2777777778;
  color: #000000;
  font-family: Space Grotesk, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.headings-5jr .auto-group-aaxn-dYQ .auto-group-v12c-znG .heading-4-Xfi {
  margin-bottom: 2.15rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.4545454545;
  color: #000000;
  font-family: Space Grotesk, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.headings-5jr .auto-group-aaxn-dYQ .auto-group-v12c-znG .heading-5-GdJ {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5555555556;
  color: #000000;
  font-family: Space Grotesk, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.headings-5jr .auto-group-aaxn-dYQ .auto-group-jhkq-26g {
  margin: 2.57rem 0rem 2.68rem 0rem;
  height: calc(100% - 5.25rem);
  row-gap: 4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.headings-5jr .auto-group-aaxn-dYQ .auto-group-jhkq-26g .px-LNG {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.0999999841;
  color: #828282;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.headings-5jr .auto-group-aaxn-dYQ .auto-group-jhkq-26g .px-UjN {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.0999999841;
  color: #828282;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.headings-5jr .auto-group-aaxn-dYQ .auto-group-jhkq-26g .px-RPi {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.0999999841;
  color: #828282;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.headings-5jr .auto-group-aaxn-dYQ .auto-group-jhkq-26g .px-miU {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.0999999841;
  color: #828282;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.headings-5jr .auto-group-aaxn-dYQ .auto-group-jhkq-26g .px-idi {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.0999999841;
  color: #828282;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.headings-5jr .auto-group-cptk-4Sg {
  margin: 0rem 42.1rem 9.2rem 29.8rem;
  width: calc(100% - 71.9rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.headings-5jr .auto-group-cptk-4Sg .heading-6-zbE {
  margin: 1.33rem 27.3rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.4166666667;
  color: #000000;
  font-family: Bunny, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.headings-5jr .auto-group-cptk-4Sg .px-XbA {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.0999999841;
  color: #828282;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.headings-5jr .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-in-vitae-ipsum-senectus-aenean-tellus-lectus-risus-id-enim-elit-feugiat-nunc-ac-faucibus-nibh-elit-massa-suv {
  margin-left: 28.1rem;
  max-width: 59rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.625;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
